.inicio {
  .list-container-homework {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .homework-detail {
        padding: 20px;
        display: flex;
        justify-content: center;
      .detail-card {
        
      }
    }
  }
}
